.brick {
	background-color: cyan;
	border-radius: 5px;
	transition-property: opacity;
	transition-duration: 250ms;
	transition-timing-function: ease-in;
}
.brick.hide {
	opacity: 0;
}

.brick.unbreakable {
	background-color: grey;
}

.brick.resistant2 {
	background-color: orange;
}

.brick.resistant1 {
	background-color: yellow;
}

.brick.resistant0 {
	background-color: yellow;
}