.dialog-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 15000;
}

.dialog {
	width: 33vw;
	height: 33vh;
	background-color: white;
	border-radius: 5px;
}
.dialog-header {
	font-size: 2em;
	padding: 15px;
	border-bottom: 1px grey solid;
}
.dialog-body {
	width: 100%;
	height: 100%;
}