.dialog-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 15000;
}

.dialog {
	width: 33vh;
	height: 33vh;
	background-color: white;
	border-radius: 5px;

	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 50px auto;
	grid-template-areas: 
		"header"
		"body"
}
.dialog-header {
	grid-area: header;
	align-self: center;
	font-size: 2em;
}
.dialog-body {
	grid-area: body;
	border-top: 1px grey solid;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	cursor: pointer;
}
