.dialog-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 15000;
}

.dialog-overlay > * {
	opacity: 1;
}

.dialog {
	width: 500px;
	height: 500px;
	background-color: white;
}