:root {
	--header-height: 75px;
}
html {
	box-sizing: border-box;
}
.App {
	text-align: center;
}

.App-header {
	background-color: #212121;
	height: var(--header-height);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-body {
	background-color: #282c34;
	height: calc(100vh - var(--header-height) );
	display: flex;
	flex-direction: row;
	align-items: stretch;
	
}
.game-container {
	flex: 1 1 auto;
	
}
.side-panel-container {
	flex: 0 1 200px;
	background-color: red;
}

.App-link {
	color: #61dafb;
}
